.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 100%;
  height: 60rem;
  padding-top: 5%;
  text-align: center;
}