.main {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 100%;
    padding-top: 15%;
    text-align: center;
}

.button {
    margin-top:3rem;
    background-color:black;
    border:none;
    color:white;
    font-weight: bolder;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor:pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}