.main{
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.banner{
    text-align: center;
    height: auto;
    position: relative;
}

.visit_button{
    position: absolute;
    right:0;
    top:25%;
    margin-right: 15%;
    width:15%;

}

.lorelad_button{
    width: 100%;
    background-color: green;

    border-radius: 2rem;
}
.logo{
    width:30%;
}
.body{

}

.top_section{
    padding: 0rem 10% 5rem 10%;
}

.mid_section{


}

.bot_section{
    padding: 0rem 10% 5rem 10%;
}

.tools_div{

}
.text_div{

}