.main{
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.banner{
    text-align: center;
    height: auto;
    overflow: hidden;
}
.logo{
    width:30%;
}
.body{

}

.top_section{
    padding: 0rem 10% 5rem 10%;
}

.mid_section{


}

.bot_section{
    padding: 0rem 10% 5rem 10%;
}

.tools_div{

}
.text_div{

}