.centered {
    display: flex;
    justify-content: center;
}

.proj_main{
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.banner{
    text-align: center;
}

.test_section{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
}

.test_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.question_wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.score_wrapper{
    padding-top: 1rem;
}

.question_prompt{

}

.button{
    width:20rem;
    margin: auto;
}