/*these are css classes for typography and text styling*/

.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    font-family: 'OCRAExtendedRegular';
}


.headingXl {
    font-family: 'OCRAExtendedRegular';
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-family: 'OCRAExtendedRegular';
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-family: 'OCRAExtendedRegular';
    font-size: 1.1rem;
    line-height: 1.5;
}
.bodyMd {
    font-family: monospace;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #999;
}

/* this allows using custom fonts from a link (can be local). Afterwards, we can treat the new font like any native one*/
@font-face {
    font-family: 'OCRAExtendedRegular';
    src: url('../fonts/OCRAEXT.TTF');
}


@media (max-width: 1060px){

    .heading2Xl {
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
        letter-spacing: -0.05rem;
        margin: .5rem 0;
        padding-bottom: .5rem;
        font-family: 'OCRAExtendedRegular';
    }

    .headingXl {
        font-family: 'OCRAExtendedRegular';
        font-size: 1.5rem;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: -0.05rem;
        margin: 0 0;
    }



    .bodyMd {
        font-size: 1rem;
        line-height: 1.4;
    }
}


.button_style{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button_style:hover{
    background-color: #0056b3;
}
